---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import ImportProject from "../components/ImportProject.vue";
import NewProject from "../components/NewProject.vue";
import ProjectList from "../components/ProjectList.vue";
import { APPS } from "../helpers/constants";

const app = Astro.url.searchParams.get("app").toLowerCase()! || "";
let appName;
let appDescription;
if (APPS[app]) {
  appName = APPS[app].name;
  appDescription = APPS[app].description;
} else {
  return Astro.redirect("/");
}
---

<Layout title="Select Project">
  <main>
    <h1>{appName}</h1>
    <div>
      <p>{appDescription}</p>
    </div>
    <ImportProject client:load app={app} />
    <ProjectList client:only app={app} />
    <NewProject client:only app={app} />
  </main>
</Layout>

<script>
  /*const params = new URLSearchParams(window.location.search);
  const app = params.get("app");
  console.log("params", app);
  const h1 = document.querySelector("h1");
  h1.innerText = app;*/
</script>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .container {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .center {
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .block {
    display: block;
    width: 100%;
    border: none;
    background-color: #04aa6d;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
</style>
