---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import ImportProject from "../components/ImportProject.vue";
import NewProject from "../components/NewProject.vue";
import ProjectList from "../components/ProjectList.vue";
import { APPS } from "../helpers/constants";

const app = Astro.url.searchParams.get("app").toLowerCase()! || "";
let appName;
let appDescription;
if (APPS[app]) {
  appName = APPS[app].name;
  appDescription = APPS[app].description;
} else {
  return Astro.redirect("/");
}
---

<Layout title="Select Project">
  <main>
    <div class="container mx-auto">
      <h1>{appName}</h1>
      <div class="card bg-base-100 shadow-xl">
        <p class="card-body">{appDescription}</p>
      </div>
    </div>
    <div class="container mx-auto">
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <ImportProject client:load app={app} />
          <ProjectList client:only app={app} />
          <NewProject client:only app={app} />
        </div>
      </div>
    </div>
  </main>
</Layout>

<script></script>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 100%;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    margin: 20px 20px;
    width: 45rem;
  }
</style>
